.DS_Store

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

coverage
node_modules


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
.idea/